openapi: 3.0.3
info:
  title: ImagineArt API
  version: 1.0.0
  description: |
    Manual OpenAPI source for ImagineArt image APIs based on the official
    Apidog reference pages published by ImagineArt.
servers:
  - url: https://api.vyro.ai/v2
    description: Prod Env
security:
  - bearerAuth: []
tags:
  - name: ImageGeneration
    description: Image generation endpoints.
  - name: ImageEditing
    description: Image editing endpoints.
paths:
  /image/generations:
    post:
      operationId: generateImage
      summary: Text to Image API
      description: Generate an image from a text prompt and ImagineArt style.
      tags:
        - ImageGeneration
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateImageRequest'
      responses:
        '200':
          description: Generated image bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
  /image/generations/transparent:
    post:
      operationId: generateTransparentImage
      summary: Text to PNG API
      description: Generate a transparent-background PNG image from a text prompt.
      tags:
        - ImageGeneration
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateTransparentImageRequest'
      responses:
        '200':
          description: Generated PNG image bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
  /image/background/remover:
    post:
      operationId: removeBackground
      summary: Background Remover API
      description: Remove the background from an uploaded image.
      tags:
        - ImageEditing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageFileRequest'
            encoding:
              image:
                contentType: image/jpeg
      responses:
        '200':
          description: Image bytes with the background removed.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
  /image/enhance:
    post:
      operationId: upscaleImage
      summary: Image Upscale API
      description: Upscale an uploaded image.
      tags:
        - ImageEditing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageFileRequest'
      responses:
        '200':
          description: Upscaled image bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    Error:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    GenerateImageRequest:
      type: object
      required:
        - prompt
        - style
      properties:
        prompt:
          type: string
          description: Text description of the image to generate.
          example: A futuristic cityscape at night with neon lights
        style:
          $ref: '#/components/schemas/ImageStyle'
        aspect_ratio:
          $ref: '#/components/schemas/AspectRatio'
        seed:
          type: integer
          minimum: 1
          description: Optional deterministic generation seed.
          example: 5
    GenerateTransparentImageRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: Text description of the transparent PNG image to generate.
          example: A sleek futuristic car with glowing LED lights
        aspect_ratio:
          $ref: '#/components/schemas/AspectRatio'
        seed:
          type: integer
          minimum: 1
          description: Optional deterministic generation seed.
          example: 12
    ImageFileRequest:
      type: object
      required:
        - image
      properties:
        image:
          type: string
          format: binary
          description: Image file to process.
    ImageStyle:
      type: string
      description: ImagineArt style identifier.
      default: imagine-turbo
      enum:
        - realistic
        - anime
        - flux-schnell
        - flux-dev
        - flux-dev-fast
        - sdxl-1.0
        - imagine-turbo
    AspectRatio:
      type: string
      description: Output aspect ratio.
      default: '1:1'
      enum:
        - '1:1'
        - '3:2'
        - '4:3'
        - '3:4'
        - '16:9'
        - '9:16'
    ErrorResponse:
      type: object
      required:
        - status
        - code
        - error
        - message
      properties:
        status:
          type: string
          description: Request status.
          example: error
        code:
          type: integer
          description: Error code.
          example: 1103
        error:
          type: string
          description: Error name.
          example: InvalidBody
        message:
          type: string
          description: Error message.
          example: No style was provided.
